<html>
    <%-include('../header')%>
    <body>
<style>
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
</style>
        <section class="vh-50 bg-image">
  <div class="mask d-flex align-items-center h-50 gradient-custom-3">
    <div class="container h-150">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-2">Account</h2>

              <form action="/user/<%= data.id%>?_method=patch" method="POST">

                <div class="form-outline mb-1">
                    <label class="form-label" for="form3Example1cg">Email</label>
                  <input type="email" value="<%= data.email%>" name="email" id="form3Example1cg" class="form-control form-control" />
                </div>

                <div class="form-outline mb-1">
                    <label class="form-label" for="form3Example3cg">Name</label>
                  <input type="text" value="<%= data.name%>" readonly name="name" id="form3Example3cg" class="form-control form-control" />
                </div>

                <div class="form-outline mb-1">
                    <label class="form-label" for="form3Example3cg">Number</label>
                  <input type="text" value="<%= data.number%>"  readonly name="number" id="form3Example3cg" maxlength="8" class="form-control form-control" />
                </div>

                <div class="form-outline mb-1">
                    <label class="form-label" for="form3Example3cg">Phone</label>
                  <input type="text" value="<%= data.phone%>" name="phone" id="form3Example3cg" maxlength="11" class="form-control form-control" />
                </div>

                <div class="form-outline mb-1">
                    <label class="form-label" for="form3Example4cg">Password</label>
                  <input type="password" name="password" id="password3" class="form-control form-control" />
                </div>

                <div class="alert alert-success" id="alert-success1">비밀번호가 일치합니다.</div>
                <div class="alert alert-danger" id="alert-danger1">비밀번호가 일치하지 않습니다.</div>

                <div class="form-outline mb-1">
                    <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                    <input type="password" id="password4" class="form-control form-control" />
                </div>
                <input type="button" id="delete1" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" value="Delete"/>
                <div class="d-flex justify-content-center">
                  
                  <button type="submit" id="submit1" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary">Update</button>
                </div>
                
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">


    $(function(){
      $("#delete1").click(function(){
        console.log("delete1 Clicked");
        deleteClick();
      });
      $("#alert-success1").hide();
      $("#alert-danger1").hide();
      $("#submit1").hide();
      $("input").keyup(function(){
          var pwd1=$("#password3").val();
          var pwd2=$("#password4").val();
              if(pwd1 == pwd2){
                  $("#alert-success1").show();
                  $("#alert-danger1").hide();
                  $("#submit1").show();
              }else{
                  $("#alert-success1").hide();
                  $("#alert-danger1").show();
                  $("#submit1").hide();
              }    
      });
    });
    function deleteClick(){
    var form = document.createElement("form");
    form.setAttribute("id", "deleteForm");
    form.setAttribute("method", "POST");
    form.setAttribute("action", "/user/<%= data.id%>?_method=delete");
    document.body.appendChild(form);
    form.submit();
  }
</script>​
    </body>
    <%-include('../footer')%>
</html>