<html>
    <%-include('../header')%>
    <body>
        <a href="/user/list?page=3">pagination 1 to 3</a>
        총 갯수 : <%= data.length%>
        <table border="1">
            <tr align="center">
                <td>
                    아이디
                </td>
                <td>
                    이메일
                </td>
                <td>
                    학번
                </td>                
                <td>
                    이름
                </td>                
                <td>
                    전화번호
                </td>
                <td>
                    생성일
                </td>
                <td>
                    상태
                </td>
                <td>
                    권한
                </td>
            </tr>
            <% for(i = 0 ; i < data.length ; i++){ %>
                <tr align="center">
                    <td>
                        <%= data[i].id%>
                    </td>
                    <td>
                        <%= data[i].email%>
                    </td>
                    <td>
                        <%= data[i].number%>
                    </td>
                    <td>
                        <a href="/user/<%= data[i].id%>"><%= data[i].name%></a>
                    </td>
                    <td>
                        <%= data[i].phone%>
                    </td>
                    <td>
                        <%= data[i].createdAt%>
                    </td>
                    <td>
                        <%= data[i].user_status%>
                    </td>
                    <td>
                        <%= data[i].auth%>
                    </td>
                </tr>                
            <% } %>
        </table>

    </body>
    <%-include('../footer')%>
</html>