<html>
    <%-include('../header')%>
    <body>
        

        <div class="container justify-content-center">
            Total Count : <%= count%><br><br>
        <table class="table table-striped table-hover"  border="1">
            <tr align="center">
                <td width="5%">
                    Id
                </td>
                <td width="15%">
                    이메일
                </td>
                <td width="15%">
                    학번
                </td>                
                <!-- <td width="10%">
                    이름
                </td>                
                <td width="15%">
                    전화번호
                </td> -->
                <td width="15%">
                    생성일
                </td>
                <td width="15%">
                    수정일
                </td>
            </tr>
            <% for(i = 0 ; i < data.length ; i++){ %>
                <tr align="center">
                    <td>
                        <%= data[i].id%>
                    </td>
                    <td>
                        <%= data[i].email%>
                    </td>
                    <td>
                        <%= data[i].number%>
                    </td>
                    <td>
                        <a href="/user/<%= data[i].id%>"><%= data[i].name%></a>
                    </td>
                    <td>
                        <% let phone1 = data[i].phone.substr(0,3), phone2 = data[i].phone.substr(3,4), phone3 = data[i].phone.substr(7,4) %>
                        <%= phone1%>-<%= phone2%>-<%= phone3%>
                        
                    </td>
                    <td>
                        <%= data[i].createdAt%>
                    </td>
                    <td>
                        <% if(data[i].user_status == false){ %>
                            활성
                        <%}else{%>
                            비활성
                        <%}%>
                        
                    </td>
                </tr>                
            <% } %>
        </table>
    </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination  justify-content-center">
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                  <span aria-hidden="true">&laquo; First</span>
                </a>
              </li>
              <% let lastPage = Math.ceil(count/limit)%>
              <% %>
              <% for(let page = 1 ; page <= lastPage; page++){ %>
                <% if(pageNum == page){ %>
                    <li class="page-item active">
                <% }else{ %>
                    <li class="page-item">
                <% } %>
                    <a href="?page=<%= page%>" class="page-link"><%= page%></a>
                </li>
              <% } %>
              <li class="page-item">
                
                <a class="page-link disabled" href="?page=<%= lastPage%>" aria-label="Next">
                  <span aria-hidden="true">Last &raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </body>
    <%-include('../footer')%>
</html>